<h3>Hop Addition IBU Calculator</h3>

<div class="row-fluid">
	<div class="span6">
		<strong>Boil and Wort Properties</strong>
	</div>
</div>

<div class="row-fluid">
	<div class="span2">
	  <span>Starting Gravity (SG): </span>
	  <input ng-model="sg" type="number" value="1.040" step="0.001" style="width: 100px;" />
	</div>
	<div class="span2">
	  <span>Boil Time (mins): </span>
	  <input ng-model="boilTime" type="number" value="60" step="1" style="width: 100px;" />
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<strong>Hop Addition Properties</strong>
	</div>
</div>

<div class="row-fluid">
	<div class="span2">
	  <span>Hop Alpha Acid %: </span>
	  <input ng-model="hopAlphaAcid" type="number" value="13.7" step="0.1" style="width: 100px;" />
	</div>
	<div class="span2">
	  <span>Hop Quantity (g): </span>
	  <input ng-model="hopQuantity" type="number" value="10" step="1" style="width: 100px;" />
	</div>
	<div class="span2">
	  <span>Hop Addition Time (mins): </span>
	  <input ng-model="hopBoilTime" type="number" value="60" step="1" style="width: 100px;" />
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<strong>IBUs</strong>
	</div>
</div>

<div class="row-fluid">
	<div class="span2">
		<span>Calculate</span><br />
		<input type="button" value="Calculate" ng-click="calculate()" />
	</div>
	<div class="span2">
	  <span>IBUs: </span><br />
	  <input ng-model="ibus" type="text" value="" readonly="true" style="width: 100px;" />
	</div>	
</div>