<h3>Recipes</h3>

<div class="row-fluid">
	<div class="span10">
        <div kendo-grid k-data-source="recipes" k-selectable="true" k-sortable="true" k-pageable="{'refresh': true, 'pageSizes': true}"
                k-columns='[{field: "brewName", title: "Name", filterable: false, sortable: true},
                {field: "style.category", title: "Style", filterable: true, sortable: true}]' k-on-change="onSelection(kendoEvent)">
        </div>
	</div>
</div>
<br />
<div class="row-fluid">
    <div class="span10">
        <input class="k-button" type="Button" value="Create New Recipe" ng-click="createNewRecipe()" />
    </div>
</div>
