<h3>Recipe Builder</h3>

<!-- Recipe Properties -->

<div class="row-fluid">
	<div class="span6">
		<strong>Recipe Properties</strong>
	</div>
</div>
<div class="row-fluid recipeProperties">
	<div class="span2">
	  <span>Brew Style (BJCP): </span>
	  <select kendo-drop-down-list
	        	k-option-label="'Select a Style'"
	        	k-data-text-field="'subCategory'"
	        	k-data-value-field="'code'"
	        	k-data-source="styles"
	        	k-value="'null'"
	        	ng-model="recipe.style.code"
	        	ng-required="false">
	       </select>
	</div>	
	<div class="span2">
	  <span>Efficiency:</span>
	  <input kendo-numeric-text-box k-min="1" k-format="'n0'" k-step="1" ng-model="recipe.efficiency" />
	</div>
	<div class="span2">
        <span>Boil Volume (L): </span>
        <input kendo-numeric-text-box k-min="1" k-format="'#.0'" k-step="0.1" ng-model="recipe.boilVolume" />
    </div>
	<div class="span2">
	  <span>Original Gravity (OG): </span>
	  <input type="text" class="k-textbox" readonly="true" ng-model="recipe.og" />
	</div>	
	<div class="span2">
	  <span style="display: block;">ABV: </span>
	  <input type="text" class="k-textbox" readonly="true" ng-model="recipe.abv" />
	</div>
</div>
<div class="row-fluid recipeProperties">
	<div class="span2">
	  <span>Brew Name: </span>
	  <input type="text" class="k-textbox inputBox" ng-model="recipe.brewName" />
	</div>	
	<div class="span2">
	  <span>Mash Time (mins):</span>
	  <input kendo-numeric-text-box k-min="1" k-format="'n0'" k-step="1" ng-model="recipe.mashLength" />
	</div>
	<div class="span2">
	  <span>Boil Time (mins): </span>	  
	  <input kendo-numeric-text-box k-min="1" k-format="'n0'" k-step="1" ng-model="recipe.boilLength" />
	</div>
    <div class="span2">
	  <span>Final Gravity (FG): </span>
	  <input type="text" class="k-textbox" readonly="true" ng-model="recipe.fg" />
	</div>
    <div class="span2">
	  <span style="display: block;">IBUs: </span>
	  <input type="text" class="k-textbox" readonly="true" ng-model="recipe.ibus" />
	</div>
</div>

<br />
<!-- Recipe Hops -->

<div class="row-fluid">
	<div class="span6">
		<strong>Hop Additions</strong>
	</div>
</div>
<div class="row-fluid">
	<div class="span10">
		<div kendo-grid k-data-source="hopAdditions" 
       		k-pageable="{ 'refresh': false, 'pageSizes': false }"
       		k-columns="[{ 'field': 'hop.name', 'title': 'Hop'},
       					{ 'field': 'hop.alphaAcid', 'title': 'Alpha Acid'},
       					{ 'field': 'quantity', 'title': 'Quantity (g)', 'footerTemplate': 'Total: #= kendo.toString(sum, 0.00) #'},
       					{ 'field': 'additionTime', 'title': 'Boil Time  (min)'},
       					{ 'field': 'ibu', 'title': 'IBUs', 'footerTemplate': 'Total: #= kendo.toString(sum, 0.00) #'}]"
        	k-sortable="true", k-groupable="false", k-filterable="false">
 		</div>
	</div>
</div>

<div ng-controller="RecipeHopAdditionCtrl">

	<div class="row-fluid paddRowUpper" ng-hide="formActive">
		<div class="span10">
			<input class="k-button" type="button" value="Add Hop" ng-click="showForm()" />
		</div>
	</div>
	<form name="hopAdditionForm" ng-show="formActive">
		<div class="row-fluid paddRowUpper">
			<div class="span2">
				<span>Hop:</span><br />
				<select kendo-drop-down-list
				k-option-label="'Select a Hop'"
				k-data-text-field="'name'"
				k-data-value-field="'id'"
				k-data-source="dataHops"
				k-value="'null'"
				ng-model="selectedHop"
				ng-required="true"
				name="selectedHop">
			</select>
			<span class="requiredStar" ng-show="hopAdditionForm.selectedHop.$error.required">*</span>
			<small>{{ alpaAcid }}</small>
		</div>
		<div class="span2">
			<span>Quantity (g): </span>
			<input kendo-numeric-text-box k-min="1" k-format="'n0'" k-step="1" name="hopQuantity" ng-model="hopQuantity" style="width: 100px;" required />
			<span class="requiredStar" ng-show="hopAdditionForm.hopQuantity.$error.required">*</span>
		</div>
		<div class="span2">
			<span>Addition Time (mins): </span>
			<input kendo-numeric-text-box k-min="1" k-format="'n0'" k-step="1" ng-model="hopBoilTime" name="hopBoilTime" style="width: 100px;" required />
			<span class="requiredStar" ng-show="hopAdditionForm.hopBoilTime.$error.required">*</span>
		</div>
		<div class="span2">
			<span>IBUs:</span>
			<input type="text" class="k-textbox" readonly="true" ng-model="hopAdditionIbus" required />
		</div>
	</div>
	<div class="row-fluid">
		<div class="span10">
			<input class="k-button" ng-class="{'k-state-disabled': !hopAdditionForm.$valid}" ng-disabled="!hopAdditionForm.$valid" type="button" value="Add" ng-click="addHop()" />
			<input class="k-button" type="Button" value="Done" ng-click="done()" />
		</div>
	</div>
	</form>
</div>
<br /><br />
<input class="k-button" type="Button" value="{{ saveAction }}" ng-click="saveRecipe()" ng-disabled="saving" />
<input class="k-button" type="Button" value="Cancel" ng-click="navigate('/recipes')" />

<br />
